VITE_SUPABASE_URL = https://ulzfvjtuaccqxcxdtcxz.supabase.co
VITE_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsemZ2anR1YWNjcXhjeGR0Y3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MDQyNzYsImV4cCI6MjA5MjQ4MDI3Nn0.CBcS3dL3W9L8WYDXQNEdXpNzfiew_eWaaXXi-GkN5xY
VITE_ADMIN_PASSWORD = bruno123